@media (max-width:576px) {

    .container {
        max-width: 540px
    }

    .col-sm-6 {
        flex : 0 0 auto;
        width: 50%
    }

    .col-lg-3 {
        flex         : 0 0 auto;
        width        : 100% !important;
        border-radius: var(--borderRadius)
    }

}

@media (max-width:1024px) {
    .container {
        max-width: 720px
    }

    .col-md-4 {
        flex : 0 0 auto;
        width: 33.3333333333%
    }
}

@media (min-width:992px) {

    .container {
        max-width: 960px
    }

    .col-lg-3 {
        flex         : 0 0 auto;
        width        : 25%;
        border-radius: var(--borderRadius)
    }
}

@media (min-width:1200px) {


    .img-fluid {
        max-width    : 100%;
        height       : auto;
        border-radius: 999px;
    }

    .container {
        width        : 100%;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left : var(--bs-gutter-x, .75rem);
        margin-right : auto;
        margin-left  : auto;
        max-width    : 1150px;
    }
}

@media (min-width:1400px) {

    .container {
        max-width: 1160px;
        margin   : auto;
    }

    .col-lg-3 {
        flex : 0 0 auto;
        width: 25%
    }

    .col-12 {
        flex         : 0 0 auto;
        width        : 100%;
        border-radius: var(--borderRadius);

    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display      : flex;
        flex-wrap    : wrap;
        margin-top   : calc(var(--bs-gutter-y) * -1);
        margin-right : calc(var(--bs-gutter-x)/ -2);
        margin-left  : calc(var(--bs-gutter-x)/ -2);
        border-radius: var(--borderRadius)
    }

    .row>* {
        flex-shrink  : 0;
        width        : 100%;
        max-width    : 100%;
        padding-right: calc(var(--bs-gutter-x)/ 2);
        padding-left : calc(var(--bs-gutter-x)/ 2);
        margin-top   : var(--bs-gutter-y)
    }
}

.col-lg-3 {
    flex         : 0 0 auto;
    width        : 25%;
    border-radius: var(--borderRadius)
}

.our-team {
    padding         : 30px 0 40px;
    margin-bottom   : 30px;
    background-color: var(--primary-300);
    text-align      : center;
    overflow        : hidden;
    position        : relative;
    max-height      : 80vh;
    border-radius   : var(--borderRadius)
}

.our-team .picture {
    display      : inline-block;
    height       : 130px;
    width        : 130px;
    margin-bottom: 50px;
    z-index      : 1;
    position     : relative;
}

.our-team .picture::before {
    content         : "";
    width           : 100%;
    height          : 0;
    border-radius   : 50%;
    background-color: var(--primary-500);
    position        : absolute;
    bottom          : 135%;
    right           : 0;
    left            : 0;
    opacity         : 0.9;
    transform       : scale(3);
    transition      : all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content         : "";
    width           : 100%;
    height          : 100%;
    border-radius   : 50%;
    background-color: var(--primary-500);
    position        : absolute;
    top             : 0;
    left            : 0;
    z-index         : -1;
}

.our-team .picture img {
    width        : 100%;
    height       : auto;
    border-radius: 50%;
    transform    : scale(1);
    transition   : all 0.9s ease-out 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #d8d6ff;
    transform : scale(0.85);
}

.our-team .title {
    display       : block;
    font-size     : 15px;
    color         : #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width           : 100%;
    padding         : 0;
    margin          : 0;
    background-color: var(--primary-500);
    position        : absolute;
    bottom          : -100px;
    left            : 0;
    transition      : all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display        : block;
    padding        : 10px;
    font-size      : 17px;
    color          : white;
    transition     : all 0.3s ease 0s;
    text-decoration: none;
    cursor         : pointer;
}

.our-team .social li a:hover {
    color           : var(--primary-500);
    background-color: #f7f5ec;
    border-radius   : 999px
}

.description {
    font-weight: 400;
    font-size  : 0.8rem;
}

.link {
    text-align : left;
    font-weight: 600;
    margin     : 1.5rem 0.5rem;
    color      : #463B98;
}

.who-btn {
    padding  : 0.5rem 1.3rem !important;
    font-size: 16px !important;
}

.article-body {
    margin-bottom: 4rem;
}

.article-body p {
    margin-top: 4rem;
}