.footer {
    background-color: var(--primary-400);
    padding         : 15px 0px 50px 0px;
    line-height     : 1.4;
    font-family     : 'Courier New', Courier, monospace;
}

.footer-container {
    max-width: 1170px;
    margin   : auto;
}

.footer-row {
    display  : flex;
    flex-wrap: wrap;
}

.footer-col {
    width  : 20%;
    padding: 0 15px
}

.footer-col h4 {
    font-size     : 24px;
    color         : var(--white);
    text-transform: capitalize;
    margin-bottom : 35px;
    font-weight   : 500;
    position      : relative
}

.footer-col h4::before {
    content         : '';
    position        : absolute;
    left            : 0;
    bottom          : -10px;
    background-color: var(--primary-300);
    height          : 2px;
    width           : 50px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size     : 15px;
    text-transform: capitalize;
    color         : var(--white);
    font-weight   : var(--grey-50);
    display       : block;
    transition    : all 0.4s ease;
}

.footer-col ul li a:hover {
    color       : var(--white);
    padding-left: 8px;
}

.footer-social-links a {
    display         : inline-flex;
    height          : 40px;
    width           : 40px;
    background-color: var(--grey-100);
    margin          : 0 10px 10px 0;
    text-align      : center;
    line-height     : 40px;
    border-radius   : 50%;
    color           : var(--primary-400);
    transition      : all 0.4s ease;
    align-items     : center;
    padding         : 0.5rem;

}

.footer-social-links a:hover {
    color           : var(--white);
    background-color: var(--primary-500);
}

.footer-input {
    margin-bottom   : 1rem;
    border-radius   : 16px;
    outline         : none;
    border          : none;
    /* font-size    : 12px; */
    width           : 192px;
    height          : 2rem;

}

.footer-btn {
    margin          : auto;
    background-color: var(--primary-200);
    display         : table;
}

.footer-bottom {
    height    : 3rem;
    background: var(--primary-300);
    padding   : 1rem;
    bottom    : 0;
}

.footer-img {
    width : 191px;
    height: 51px;
    margin: 6rem 0px 0rem -2rem;
}

.footer-copyright {
    width : 200px;
    margin: auto;
}

.five {
    display: none;
}

@media (max-width: 767px) {
    .footer-col {
        width        : 50%;
        margin-bottom: 30px;

    }

    .footer-img {
        margin-left: 1rem;
    }
}

@media (max-width: 574px) {
    .footer {
        padding: 13px 3px 0px 0px;
    }

    .footer-col {
        width     : 100%;
        text-align: center;
        margin    : auto;
    }

    .footer-col h4::before {
        display: none;
    }

    .footer-img {
        margin: auto;
    }

    .footer-input {
        width : 267px;
        height: 45px;
    }

    .footer-social-links a {
        /* margin: 1rem 1.3rem; */
        padding: 0.9rem;

    }

    .footer-btn {
        font-size : 20px;
        text-align: center;
    }

    .one,
    .two,
    .three {
        display: none;
    }

    .five {
        display: block;

    }

    .five ul {
        display       : flex;
        flex-direction: row;
    }

    .five ul li {
        color     : var(--white);
        margin    : 2rem;
        cursor    : pointer;
        transition: all 0.4s ease;

    }

}