.section-title {
  margin    : 2rem;
  text-align: center;
}

.underline {
  width        : 5rem;
  height       : 0.25rem;
  margin-bottom: 1.25rem;
  background   : var(--primary-500);
  margin-left  : auto;
  margin-right : auto;
}

.service .underline {
  width             : 3rem;
  height            : 0.12rem;
  -webkit-transition: var(--transition);
  transition        : var(--transition);
}

.service:hover .underline {
  background: var(--primary-400);
}

/* section */
.section {
  padding         : 1rem 0;
  background-color: #C5C2DF;
}

.section-center {
  width    : 80vw !important;
  margin   : 3rem auto;
  max-width: 1100px;
}

/* @media screen and (max-width:768px) {
  .blog-page img {}
} */

@media screen and (max-width: 576px) {
  .blog-center {
    width: 90vw;
  }

  .service {
    padding   : 2rem 1.5rem;
    text-align: center;
  }

  .service h3 {
    display   : block;
    text-align: center;
  }

  .service-icon {
    margin: 0 auto;
  }
}

/*
=============== 
Services
===============
*/
.service {
  background        : var(--white);
  padding           : 1.5rem;
  margin-bottom     : 2rem;
  border-radius     : var(--borderRadius);
  text-align        : left;
  -webkit-transition: var(--transition);
  transition        : var(--transition);
  box-shadow        : var(--shadow-2);
}

.service h3 {
  font-weight: 800;
}

.service-icon {
  font-size       : 1rem;
  /* margin-bottom: 1.5rem; */
}

/* .service .underline {
width: 3rem;
height: 0.12rem;
-webkit-transition: var(--transition);
transition: var(--transition);
} */
.service p {
  -webkit-transition: var(--transition);
  transition        : var(--transition);
  color             : black
}

/* .service:hover {
background: #463B98;
color:black;
} */

/* .service:hover p {
color: var(--white);
} */
.service:hover .underline {
  background: var(--primary-300);
}

@media screen and (min-width: 676px) {
  .services-center {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap   : 2rem;
    -moz-column-gap      : 2rem;
    column-gap           : 2rem;
  }
}

@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top           : 4rem;
  }
}