@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    /* COLORS  */
    /* primary */
    --primary-0    : #f0efff;
    --primary-50   : #d8d6ff;
    --primary-100  : #c1beff;
    --primary-200  : #aaa5ff;
    --primary-300  : #C5C2DF;
    --primary-400  : #463B98;
    --clr-primary-5: #2caeba;
    /* main */
    --primary-500  : #463B98;
    --primary-600  : #554ed9;
    --primary-700  : #4640b3;
    --primary-800  : #37338c;
    --primary-900  : #282566;
    --primary-9    : hsl(185, 94%, 87%);
    --primary-1000 : #191740;
    --primary-1100 : #0a0919;
    /* grey */
    --grey-0       : #fafbfc;
    --grey-50      : #f2f4f8;
    --grey-100     : #eaedf3;
    --grey-200     : #e2e7ef;
    --grey-300     : #dbe0ea;
    --grey-400     : #d3dae6;
    --grey-500     : #cbd3e1;
    --grey-600     : #adb3bf;
    --grey-700     : #8e949e;
    --grey-800     : #70747c;
    --grey-900     : #51545a;
    --grey-1000    : #333538;
    --grey-1100    : #141516;

    /* rest */
    --black      : #222;
    --white      : #fff;
    --red-light  : #f8d7da;
    --red-dark   : #842029;
    --green-light: #d1e7dd;
    --green-dark : #0f5132;
    /* box shadows */
    --shadow-1   : 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2   : 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    /* typography */
    --defaultFontSize: 84.5%;
    --headingFont    : 'Lato', sans-serif;
    --bodyFont       : 'Noto Sans SC', sans-serif;
    --smallText      : 0.8em;
    --extraSmallText : 0.7em;
    /* rest */
    --backgroundColor: var(--grey-0);
    --textColor      : var(--grey-1000);
    --borderRadius   : 0.35rem;
    --letterSpacing  : 1px;
    --transition     : 0.3s ease-in-out all;
    --max-width      : 1120px;
    --fixed-width    : 600px;
}

html {
    font-size: var(--defaultFontSize);
}

@media only screen and (min-width: 576px) {
    :root {
        --defaultFontSize: 100%;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --defaultFontSize: 112.5%;
    }
}

body {
    color      : var(--textColor);
    font-family: var(--bodyFont);
    font-weight: 200;
    line-height: 1.5;
}

span {
    font-weight: 700;
    display    : block;
    margin     : 20px 0;
}

p {
    margin       : 0;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family   : var(--headingFont);
    text-transform: capitalize;
}

/* h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
} */

small,
.text-small {
    font-size: var(--smallText);
}

ul {
    padding        : 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}


.who-we-are {
    margin       : 20px 0;
    width        : 100%;
    background   : var(--grey-0);
    border-radius: var(--borderRadius);
    box-shadow   : var(--shadow-1);
    padding      : 1.5rem;
    position     : relative;
}

.article-span {
    margin-bottom: 2rem;
}

.who-btn {
    padding  : 0.5rem 1.3rem !important;
    font-size: 16px !important;
}

label {
    display       : block;
    font-size     : var(--smallText);
    margin-bottom : 0.5rem;
    text-transform: capitalize;
}

input,
textarea {
    width        : 100%;
    padding      : 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background   : var(--grey-0);
    border-color : transparent;
    border       : 1px solid var(--grey-300);
}

.img-row {
    margin-bottom: 1rem;
}

textarea {
    width : 100%;
    height: 7rem;
}

::placeholder {
    color: var(--grey-600);
}

.img-alert {
    color         : var(--red-dark);
    font-size     : var(--extraSmallText);
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
}

hr {
    border-top: var(--line);
}

button,
.btn {
    cursor        : pointer;
    appearance    : none;
    color         : var(--white);
    background    : var(--primary-500);
    border        : none;
    box-shadow    : var(--shadow-1);
    transition    : var(--transition);
    text-transform: capitalize;
    border-radius : 999px;
    font-size     : 1rem;
    padding       : 0.6rem 2rem;
}


button:hover,
.btn:hover {
    background: var(--primary-1000);
    box-shadow: var(--shadow-2);
}

button.small {
    padding  : 0.25rem 0.5rem;
    font-size: var(--smallText);
}



button.block {
    float : right;
    margin: 1rem 0;
}

/* Basic Classes */
.alert {
    padding      : 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color : transparent;
    border-radius: var(--borderRadius);
}

.alert-success {
    color           : var(--green-dark);
    background-color: var(--green-light);
}

.alert-danger {
    color           : var(--red-dark);
    background-color: var(--red-light);
}

.container {
    /* padding   : 5rem 0; */
    margin-top: -5rem;

}

.container-center {
    width    : 98vw;
    max-width: var(--max-width);
    margin   : 0 auto;
}

.page {
    width     : 90vw;
    margin    : 0 auto;
    max-width : 1000px;
    min-height: calc(60vh - (6rem + 4rem));
    margin-top: 6rem;
}


.title {
    text-align: center;
    margin    : 0.5rem auto;
}

.title-underline {
    height    : 0.2rem;
    width     : 7rem;
    background: var(--primary-600);
    margin    : 0 auto;
}

/*#########*/
/* END OF GLOBALS */
/*#########*/

/*#########*/
/* Navbar */
/*#########*/
.navbar {
    display         : flex;
    justify-content : center;
    background-color: white;
    width           : 100%;
    box-shadow      : 0 3px 6px rgba(0, 0, 0, 0.2);
}

.nav-center {
    width    : 90vw;
    max-width: var(--max-width);
}

.nav-header {
    height         : 6rem;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.nav-header img {
    width         : 100%;
    height        : 100%;
    mix-blend-mode: multiply;
}

@media screen and (max-width: 992px) {
    .nav-header {
        height: 3.6rem;
    }

    .nav-header img {
        height: auto;
        width : 40%;
        height: auto;
        margin: auto 0;
    }

    .search {
        display: none !important;
    }
}

.nav-btn {
    padding      : 0.5rem 1rem;
    border-radius: 10px;
}

.nav-btn svg {
    font-size: 1.5rem;
}

.nav-links {
    height        : 0;
    overflow      : hidden;
    display       : flex;
    flex-direction: column;
    transition    : var(--transition);
}

.show-links {
    height: 23.9375rem;
}

.nav-link {
    display       : block;
    text-align    : center;
    font-size     : 1.5rem;
    text-transform: capitalize;
    color         : var(--grey-1000);
    padding       : 1rem 0;
    border-top    : 1px solid var(--grey-500);
    transition    : var(--transition);
    font-weight   : 300;
}

.nav-link:hover:not(:last-child) {
    border-bottom: 1px solid var(--primary-400);
    transition   : 1s ease-out all;
    transform    : scale(1.02);
}

.active-link {
    color: var(--primary-500);
}



.search {
    flex            : 0 0 40%;
    display         : flex;
    align-items     : flex-end;
    justify-content : center;
    background-color: transparent;
    border-radius   : 999px;
}

@media only screen and (max-width: 31.25em) {
    .search {
        flex            : 0 0 100%;
        background-color: var(--grey-50);
    }
}

.search__input {
    font-family     : inherit;
    font-size       : inherit;
    color           : inherit;
    background-color: var(--grey-50);
    border          : none;
    padding         : .7rem 2rem;
    border-radius   : 100px;
    width           : 70%;
    transition      : all .2s;
    margin-right    : -3.25rem;
}

.search__input:focus {
    outline         : none;
    width           : 90%;
    background-color: var(--grey-100);
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color      : var(--grey-500);
}

.search__input:focus+.search__button {
    background-color: var(--grey-300);
}

.search__button {
    border          : none;
    background-color: var(--grey-400);
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(2px);
}

.search__icon {
    height: 2.5rem;
    width : 1.5rem;
    fill  : var(--grey-700);
}

@media screen and (min-width: 992px) {
    .navbar {
        height: 5rem;
    }

    .nav-center {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
    }

    .nav-header {
        padding     : 0;
        margin-right: 2rem;
        height      : auto;
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        height        : 100vh;
        flex-direction: row;
        align-items   : center;
    }

    .nav-link {
        padding     : 0;
        border-top  : none;
        margin-right: 1rem;
        font-size   : 1rem;
    }

}






/*#########*/
/* Error */
/*#########*/
.error-page {
    min-height : calc(100vh - (6rem + 4rem));
    text-align : center;
    padding-top: 3rem;
}

.error-page h1 {
    font-size: 9rem;
}

/*#########*/
/* Contact */
/*#########*/

.contact-page {
    display       : grid;
    gap           : 2rem 3rem;
    padding       : 0;
    padding-bottom: 3rem;
}


@media screen and (min-width: 992px) {
    .contact-page {
        grid-template-columns: 1fr 1fr;
        align-items          : center;
    }

}

@media screen and (max-width: 992px) {
    .union-one {
        display: none
    }
}



.blog-title {
    text-align: center;
}


.blog-page {
    display       : grid;
    gap           : 2rem 4rem;
    padding-bottom: 2rem;
}


/* .blog-img {
    border-radius: var(--borderRadius);
    height       : 500px;
} */

.read-more {
    /* color    : var(--primary-400); */
    font-size: 1rem;
}

@media screen and (min-width: 992px) {
    .blog-page {
        grid-template-columns   : 1fr 1fr;
        align-items             : center;
        /* height               : 400px; */
    }
}

/* .gatsby-image-wrapper img {
    height: 85vh;
    width : 35vw;
} */