/*
===============
About Page
===============
*/
.about-page {
    display: inline-block;
    width  : 90vw;
    height : auto
}


.about-img {
    overflow: hidden;
    display : inline-block;
    width   : 40vw;
    left    : -9rem;
    float   : left;
}

.about-text .section-title {
    margin-bottom: 1rem;
    text-align   : left;
}

.about-text .underline {
    margin-left : 0;
    margin-right: 0;
}

.about-text p {
    line-height: 1.8;
    font-weight: 200;
    font-size  : 18px;
}

@media screen and (max-width: 576px) {
    .blog-body{
        margin-top: -5rem !important;
    }
    .about-img {
        display: none !important;
    }

    .about-text {
        width: 70vw !important;
    }

    .about-text p {
        font-size: 10px;
    }
}

@media screen and (max-width: 375px) {
    .card-header img {
        width     : 80%;
        height    : 180px !important;
        object-fit: cover;
    }
}

@media screen and (max-width: 1024px) {
    .about-text {
        width: 75vw !important;
    }

    .about-img {
        display: none !important
    }
}

.about-text {
    display   : inline-block;
    /* float  : right; */
    width     : 45vw;
}

.titles {
    color     : #463B98;
    text-align: center;
}



.container {
    display        : flex;
    width          : 1040px;
    justify-content: space-evenly;
    flex-wrap      : wrap;
}

.card {
    margin          : 10px;
    background-color: #fff;
    border-radius   : 10px;
    box-shadow      : 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow        : hidden;
    width           : 300px;
}

.card-header {
    width     : 100%;
    max-height: 42vh;
}

.card-header img {
    max-width      : 100vw;
    object-fit     : fill;
    display        : block;
    background-size: cover;
    height         : 360px !important;

}

.card-body {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
    padding        : 20px;
    min-height     : 220px;
    margin         : 3.5rem 0
}

.card-body h3 {

    margin: 0rem auto;
}

.tag {
    background    : #cccccc;
    border-radius : 50px;
    font-size     : 12px;
    margin        : auto;
    color         : #fff;
    padding       : 2px 10px;
    text-transform: uppercase;
    cursor        : pointer;
}

.tag-teal {
    background-color: var(--primary-500);
}

.tag-purple {
    background-color: var(--primary-500);
}

.tag-pink {
    background-color: var(--primary-500);
}

.card-body p {
    font-size  : 0.81rem;
    text-align : left;
    line-height: 1.2;
    margin     : 0.5rem 0;
}

.user {
    display   : flex;
    margin-top: auto;
}

.user img {
    border-radius: 50%;
    width        : 40px;
    height       : 40px;
    margin-right : 10px;
}


.social {
    width        : 100%;
    padding      : 0 2rem;
    margin       : 0 auto;
    transition   : all 0.5s ease 0s;
    border-radius: var(--borderRadius);
}

.social li {
    display      : inline-block;
    margin       : 1rem;
    border-radius: 50%;
    cursor       : pointer;
}

.social li:hover {
    opacity   : 0.7;
    transition: transform 0.4s ease-in-out;
}

@media only screen and (max-width: 576px) {
    .container {
        margin-bottom: 2rem;
        max-width    : 720px;
        width        : 100vw;
    }

    .about-center {
        display   : block;
        text-align: center;
        margin    : 1rem auto 1rem 2rem;
    }

    .titles {
        margin-top: 0rem !important;
    }

    .social {

        padding: 0 4rem;

    }

    .card-body {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        padding        : 20px;
        min-height     : 250px;
        margin-top: -1rem ;
    }
}


.fi {
    color: var(--primary-500);
}

.fi:hover {
    color: var(--primary-300);
    fill : var(--primary-500);
}

.card .blog-img {
    height: 200px !important;
}



.blog-card {
    padding: 0 !important;
}

.blog-card:hover {
    background: #463b983d;
    transition: 0.6s ease-in-out all;
    opacity   : 0.9;
}

.blog-body {
    max-height   : 400px;
    margin       : 0;
    max-width    : 331px;
    margin-top   : -1.2rem;
    margin-bottom: -3rem;
    text-align   : left;
}

.blog-body h2 {
    font-size     : 20px;
    text-align    : left;
    letter-spacing: 0px;
    color         : #463B98;
    opacity       : 1;
    margin        : 0;
    cursor        : pointer;
}

.blog-date {
    margin-top    : 1rem;
    text-align    : left;
    font          : normal normal 300 16px/31px Lato;
    letter-spacing: 0px;
    color         : #656565;
    opacity       : 1;
    margin        : 0;

}

.blog-btn {
    max-width    : 4.8rem;
    margin       : 1rem !important;
    border-radius: 999px !important;
}

.userName {
    color: #463B98;
}

.jobName {

    margin: 0.5rem auto;
}