.masthead p,
.masthead p a {
	color: white;
}

.site-title {
	color: white;
}

img {
	display      : block;
	border-radius: var(--borderRadius);
	width        : 100%;
	height       : auto;
}


.card {
	background   : white;
	margin-bottom: 2em;
}

.card a {
	color          : black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top   : 0;
	margin-bottom: .5em;
	font-weight  : bold;
}

.card-content p {
	font-size: 80%;
}


.cards {
	display        : flex;
	flex-wrap      : wrap;
	justify-content: space-around;
	margin-top     : 2rem;
}

.card {
	flex: 0 1 24%;
}