.articles {
    margin: 0 auto;
    width : 100%;
    height: 70vh;
}

/* Hero */
/*#########*/

.hero-img {
    height : 100%;
    opacity: 0.93;
}

.hero {
    height       : 75vh;
    position     : relative;
    margin-bottom: 2rem;
}

.hero-container {
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-radius  : var(--borderRadius);
    padding-bottom : 14rem;
}

.right-content {
    color      : var(--white);
    line-height: 0;
    align-items: stretch;
    position   : absolute;
    bottom     : 0;
    right      : 1rem;
}

.author {
    display        : flex;
    align-items    : baseline;
    justify-content: center;
    margin         : -1.4rem 0;
}

.author span {
    font-weight: 700;
    display: block;
    margin-right: 4rem;
}


.right-content p {
    font-size     : 1.2rem;
    text-align    : center;
    margin-bottom : -10px;
    opacity       : 0.7;
}

.right-content h6 {
    display        : flex;
    justify-content: flex-end;
    font-weight: 200;
    letter-spacing: 3px;

}
.right-content h5{
    font-weight: 300;
    line-height: 1;
    letter-spacing: 3px;
}

.hero-text {
    color     : var(--white);
    text-align: center;
}

.hero-text h3 {
    font-weight: initial;
    opacity    : 0.7;
    font-family: 'Lato', sans-serif;
    ;
}

@media only screen and (min-width: 768px) {
    .hero-text h1 {
        font-size    : 4rem;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 992px) {}

.left-content {
    color           : var(--white);
    line-height     : 0.5;
    position        : absolute;
    bottom          : 0;
    left            : 0;
    display         : flex;
    background-color: rgba(255, 255, 255, 0.315);
    padding         : 40px 80px;
    flex-wrap       : wrap;
}


.page p {
    margin     : 1rem auto;
    line-height: 2rem;
}

/*#########*/