.card {
  background        : var(--white);
  -webkit-box-shadow: var(--shadow-4);
  box-shadow        : var(--shadow-4);
  border-radius     : 5px;
  margin            : 2rem 0;
  width             : calc(33.3333% - 15px);
  padding           : 20px;
  text-align        : center;
  color             : var(--primary--500);
  float             : left;
  max-height        : 105vh;
}

@media (max-width: 768px) {
  .card {
    margin: 10px 20px;
    width : calc(100% - 40px);
  }

  .card:first-child {
    margin-top: 20px;
  }

  .card .icon {
    width: 10vw !important;
  }

  .card .title {
    font-size: 20px !important
  }
}

.card .title {
  font-size  : 25px;
  font-weight: 600;
  color      : #463B98;
  text-align : left;
}

.card .icon {
  display: grid;
  width  : 4vw;
}

.card .icon svg {
  width : 50px;
  height: 50px;
  margin: 1rem 0;
}

.card .icon svg path {
  fill: #463B98;
}

.card .features p {
  font-size  : 0.8rem;
  text-align : left;
  font-weight: 400;
}



.card .btn {
  background   : rgb(70, 59, 152);
  border-radius: 10px;
  padding      : 0.4rem 0.8em;
  font-size    : 0.8rem;
  color        : white !important;
}

/* .read:hover,
.card .btn:hover {
  background: transparent;
  color     : #463B98;
} */

.read {
  font-size  : 1rem;
  color      : #463B98;
  font-weight: 500;
}

.read:hover,
.card .btn:hover {
  opacity: 0.7;
}

.time,
.level {
  font-size: 0.7rem;

  display: flex;

  justify-content : center;
  padding         : 0.4rem;
  background-color: var(--primary-300);
  border-radius   : var(--borderRadius);
}

.under {

  display        : flex;
  justify-content: space-around;
}

.jobApply {
  width: 30vw;
}

@media only screen and (max-width: 768px) {
  .jobApply {
    width: 80vw;
  }
}

input[type="file"i] {
  color: #463B98;
}

select {
  border-radius: var(--borderRadius);
}

.form-row {
  margin: 2rem 0;
}

.links {
  display        : flex;
  justify-content: space-between;
}