$color-one  : #1F2124;
$color-two  : #383A3F;
$color-four : #463B98;
$color-three: #c1beff;



.card {
    background   : var(--white);
    box-shadow   : var(--shadow-4);
    border-radius: 5px;
    margin       : 50px 20px 20px 20px;
    width        : calc(33.3333% - 40px);
    padding      : 20px;
    text-align   : center;
    color        : var(--primary--500);
    float        : left;

    @media (max-width: 768px) {
        margin: 10px 20px;
        width : calc(100% - 40px);

        &:first-child {
            margin-top: 20px;
        }
    }

    .title {
        font-size  : 25px;
        font-weight: 600;
        color      : $color-four;
    }

    .icon {
        margin: 50px 0;

        svg {
            width : 100px;
            height: 100px;

            path {
                fill: $color-four;
            }
        }
    }

    .features {
        p {
            font-size  : 0.8rem;
            text-align : left;
            font-weight: 400
        }

        span {
            border-bottom: 2px dotted $color-four;
        }
    }

    .btn {
        display        : block;
        background     : $color-four;
        color          : white;
        padding        : 15px 20px;
        margin         : 20px 0;
        border-radius  : 5px;
        box-shadow     : rgba(0, 0, 0, 0.9);
        transition     : all 200ms ease-in-out;
        text-decoration: none;

        &:hover,
        .read:hover {
            background: transparent;
            color     : $color-four;
        }
    }
}

.read {
    background   : $color-four;
    color        : white !important;
    border-radius: 999px;
    padding      : 0.35rem;
    font-size: 0.8rem;
    &:hover{
        opacity:0.7
    }
}


.time,
.level {
    font-size       : 0.7rem;
    display         : flex;
    justify-content : center;
    padding         : 0.4rem;
    background-color: var(--primary-300);
    border-radius   : var(--borderRadius);
}

.under {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}
.jobApply{
    width: 30vw;
}
@media only screen and (max-width: 768px) {
    .jobApply{
        width: 80vw;
    }
}
input[type="file" i]{
    color: #463B98;
}
select{
    border-radius: var(--borderRadius);
}


.form-row{
    margin: 2rem 0;

}
// display: flex;
// width: 1040px;
// justify-content: space-evenly;
// flex-wrap: wrap;