/*
=============== 
Jobs
===============
*/
.jobs {
  background-color: var(--white);
}

.jobs-center {
  width    : 80vw;
  margin   : 0 auto;
  max-width: var(--max-width);
}

.btn-container {
  display        : flex;
  flex-direction : column;
  margin         : 0;
  justify-content: center;
}

.job-btn {
  background    : transparent;
  border-color  : transparent;
  border-radius : var(--borderRadius);
  text-transform: capitalize;
  font-size     : 1.25rem;
  letter-spacing: var(--spacing);
  margin        : 0.5rem;
  transition    : var(--transition);
  cursor        : pointer;
  padding       : 0.25rem 0;
  line-height   : 1;
  color         : var(--primary-300);
  box-shadow    : var(--shadow-3);
}

.job-btn:hover {
  color     : var(--primary-200);
  box-shadow: 0 2px var(--primary-200);
}

.active-btn {
  color     : var(--primary-500);
  box-shadow: 0 2px var(--primary-200);
}

.job-info {
  /* min-height: 420px; */
}

.job-info h3 {
  font-weight  : 400;
  color        : black;
  background   : var(--grey-100);
  margin       : 1rem;
  display      : inline-block;
  padding      : 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
}

.job-info h4 {
  text-transform: uppercase;
  color         : black;
  background    : var(--grey-100);
  margin        : 1rem;
  display       : inline-block;
  padding       : 0.375rem 0.75rem;
  border-radius : var(--borderRadius);
}

.job-date {
  letter-spacing: var(--spacing);
}

.job-desc {
  display              : grid;
  grid-template-columns: auto 1fr;
}

.job-desc p {
  padding    : 0rem 1rem;
  color      : black;
  font-weight: 300;
  line-height: 30px;
}

.job-icon {
  color : var(--primary-500);
  margin: 0.45rem
}

@media screen and (min-width: 992px) {
  .jobs-center {
    width                : 90vw;
    display              : grid;
    grid-template-columns: 200px 1fr;
    column-gap           : 4rem;
  }

  .btn-container {
    flex-direction : column;
    justify-content: flex-start;
  }

  .job-btn {
    margin   : 0.5rem;
    font-size: 1rem;
  }

  .active-btn {
    box-shadow: -2px 0 var(--primary-500);
  }

  .job-btn:hover {
    box-shadow: -2px 0 var(--primary-300);
  }

}

@media screen and (max-width: 576px) {
  .apply {
    margin: 1rem 0 !important;
  }
}

.apply {
  text-align: center;
  margin    : 5rem 0;
}

.contact-info img {
  left: -7rem;
}